<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>

    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #443D3D;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
    }

    h1,
    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .blog-description {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    header#site-head {
        color: #000000;
    }

    header#site-head::before{
        // background-color: rgba(0, 0, 0, 0.7);
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    header #valve {
        background-color: rgba(255,255,255,0.95);
        position: absolute;
        height: 85%;
        bottom: 0;
        left: 50%;
        max-width: 100%;
        width: 800px;
        margin-left: max(-50%, -400px);
        border-radius: 400px 400px 0 0;
    }

    img.blog-logo {
        width: 500px;
        max-width: 100%;
    }

    .fixed-nav {
        font-family: "Montserrat", sans-serif;
        font-size: 1.7rem;
        line-height: 200%;
        font-weight: 500;
    }

    a.fn-item:hover {
        color: #BAA088;
    }
    a.fn-item.active {
        color: #473321;
        opacity: 1;
    }

    .post-holder {
        background: #F6F0E2;
    }
    .post-holder article {
        padding: 150px 0;
    }
    .post-holder.odd {
        background: #824C1B;
        color: white;
    }

    .post-holder p img {
        margin: 75px 0 0;
    }

    .site-footer {
        background-color: inherit;
    }

    @media only screen and (max-width: 1130px) {

        header #valve {
            width: 600px;
            margin-left: max(-50%, -300px);
            border-radius: 300px 300px 0 0;
        }

        img.blog-logo {
            width: 400px;
        }
    }

    @media only screen and (max-width: 500px) {
        header #valve {
            width: 300px;
            margin-left: max(-50%, -150px);
            border-radius: 150px 150px 0 0;
        }

        img.blog-logo {
            width: 200px;
        }

        .blog-description {
            font-size: 1.3rem;
        }
    }

</style>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700">

<!-- <style>
     /* Links */
     a:hover {
         color: #b6b84c;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #ced067;
     }
     a.btn:hover {
          background-color: #b6b84c;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #b6b84c;
     }
     a.fn-item:hover {
          color: #ced067;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #B80135;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }
</style> -->

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
